*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #1d4350, #a43931);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.container{
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 70%;
    max-width: 400px;
    text-align: center;
    /* box-shadow: 1px 10px 25px rgba(12, 50, 0, 0.2); */
}

h1{
    margin-bottom: 18px;
    color: #a43931;
}

input{
    width: 100%;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid#ccc;
}

button{
    padding: 10px 18px;
    font-size: 14px;
    margin-bottom: 16px;
    background-color: #a43931;
    color: antiquewhite;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;

}

button:hover{
    background-color: #805f26;

}

.qrBox img{
    margin-left: 80px;
    max-width: 50%;
    height: auto;
    display: none;
    /* margin: 10px 0; */
    margin-bottom: 20px;
    
}

a#downloadBTN{
    display: none;
    text-decoration: none;
    background: #1d4350;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
}